/*
*
* GENERAL STYLES
*
*/

:root {
    --dark-background: #0D1117;
    --light-background: #161B22;
    --border: #30363D;
    --grey: #BABBBD;
}

@font-face {
    font-family: prime;
    src: url(prime_light.otf) format("opentype");
}

@font-face {
    font-family: prime;
    src: url(prime_regular.otf) format("opentype");
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--dark-background);
    color: white;
    font-family: prime;
    font-size: 16px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

a:focus {
    color: inherit;
}



/*
*
* NAVIGATION BAR
*
*/

#logo {
    margin-right: 20px;
    content: url("logo.png");
    width: 60px;
    height: 60px;
}

@media (hover: hover) and (pointer: fine) {
    #logo:hover {
        content: url("logo_hover.png");
    }
}

#logo.touch-device {
    content: url("logo_hover.png");
}

.navbar-custom {
    background-color: var(--light-background);
    border-radius: 0px;
    padding: 6px 20px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.navbar-item {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}

@media (hover: hover) and (pointer: fine) {
    .navbar-item:hover {
        color: var(--grey);
    }

    .navbar-item:hover span.hover-red {
        color: red;
    }
}

.navbar-item.touch-device {
    color: var(--grey);
}

.navbar-item.touch-device span.hover-red {
    color: red;
}

/* Navigation bar on small devices. */

#small-device-menu {
    margin-left: auto;
}

@media (min-width: 601px) {
    #small-device-menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .navbar-item {
        display: none;
    }
}

#menu-img {
    cursor: pointer;
    content: url("menu.png");
}

@media (hover: hover) and (pointer: fine) {
    #small-device-menu:hover #navbar-dropdown {
        display: block;
    }
    #small-device-menu:hover #menu-img {
        content: url("menu_hover.png");
    }
    #menu-img:hover {
        content: url("menu_hover.png");
    }
}

#navbar-dropdown {
    display: none;
    position: absolute;
    right: 20px;
    width: 40vw;
    animation: grow-down 300ms ease-in-out forwards;
    transform-origin: top center;
    z-index: 3;
}

@keyframes grow-down {
    0% {
        transform: scaleY(0) translateY(-24px);
    }
    75% {
        transform: scaleY(1.1) translateY(-24px);
    }
    100% {
        transform: scaleY(1) translateY(-24px);
    }
}

#navbar-dropdown-content {
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--light-background);
    padding: 8px 10px 0px 10px;
}

.navbar-dropdown-spacer {
    height: 30px;
}

.navbar-dropdown-item {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
    .navbar-dropdown-item:hover {
        color: var(--grey);
    }

    .navbar-dropdown-item:hover span.hover-red {
        color: red;
    }
}

.navbar-dropdown-item.touch-device {
    color: var(--grey);
}

.navbar-dropdown-item.touch-device span.hover-red {
    color: red;
}



/*
*
* FOOTER
*
*/

.footer {
    background-color: var(--light-background);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 20px;
}

.footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .content span {
    text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
    .footer .content span:hover {
        color: var(--grey);
    }

    .footer .content span:hover span.hover-red {
        color: red;
        text-decoration-color: var(--grey);
    }
}

.footer .content span.touch-device {
    color: var(--grey);
}

.footer .content span.touch-device span.hover-red {
    color: red;
    text-decoration-color: var(--grey);
}

#page-up {
    content: url("page_up.png");
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}

@media (hover: hover) and (pointer: fine) {
    #page-up:hover {
        content: url("page_up_hover.png");
    }
}

#page-up.touch-device {
    content: url("page_up_hover.png");
}

#page-up.animation {
    animation: spin 0.25s linear 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    75% {
        transform: rotate(270deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}



/*
*
* GENERAL PAGE CONTENT STYLES
*
*/

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-box {
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--light-background);
    padding: 15px 10px;
    width: 50vw;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span.heading {
    font-size: clamp(26px, 2.5vw, 40px);
    white-space: nowrap;
    font-weight: bold;
}

span.heading.big {
    font-size: clamp(26px, 5vw, 64px);
}

hr.separator {
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 90%;
}

div.vspace {
    height: 15px;
}

.spacer {
    flex-grow: 1;
}



/*
*
* BEER PONG SOLDIER
*
*/

.beer-pong-soldier {
    display: flex;
    justify-content: center;
}

.beer-pong-outer {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.beer-pong-inner {
    min-height: calc(clamp(75px, 12.5vh, 105px) + 5px);
    position: relative;
    z-index: 2;
    transform: translateY(clamp(-105px, -12.5vh, -75px));
    margin-bottom: clamp(-105px, -12.5vh, -75px);
}

#beer-pong-soldier {
    height: 25vh;
    max-height: 210px;
    min-height: 150px;
    z-index: 1;
    transition: transform 0.5s linear;
}

@media (hover: hover) and (pointer: fine) {
    #beer-pong-soldier:hover {
        transform: translateY(-50%);
    }
}

#beer-pong-soldier.touch-device {
    transform: translateY(-50%);
}



/*
*
* INDEX PAGE CONTENT
*
*/

i.icon {
    padding: 0px 15px;
}

@media (hover: hover) and (pointer: fine) {
    i.icon:hover {
        color: var(--grey);
        animation: fa-bounce 800ms 1 linear;
    }
}

i.icon.touch-device {
    color: var(--grey);
    animation: fa-bounce 800ms 1 linear;
}

#pepe {
    object-fit: scale-down;
    width: 40vw;
    max-width: 350px;
    max-height: 300px;
    min-width: 200px;
}